.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ProjectsPage{
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding-top: 50px;
  padding-bottom: 100px;
  gap: 30px;
}

@media(max-width:720px){
  .project-list{
    display: flex;
    flex-direction: column;
}
.ProjectsPage{
  width: 90%;
}
}