.app{
  background-color: #131313;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family:"Sometype Mono", monospace;
}
.title{
  color: #e1e1e1;
  font-family: "Urbanist", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
font-size: xx-large;
margin-top: 100px;
}

.new-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  /* height: 100vh; */
}